<div class="content">
    <h1> BIENVENIDO A E-COMMERCE PEPITO</h1>
    <h2>Los mejores productos en un solo lugar, y el que diga lo contrario. Hay tabla</h2>
    <p> Ingresa <a href="http://localhost:4567/registrar">aquí</a> para registrarte</p>
   
</div>